@import 'base';
@import 'module';

@import './components/common/btn';
@import './components/common/icon';

@import './components/layout/header';

@import './pages/home';
@import './pages/splinetest';
@import './pages/splinetest';

.App {
  position: relative;
  height: 100vh;
  overflow: hidden;
  // margin-top: $header_height;
}